.roomPreview {
  display: flex;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.roomPreview_info {
  margin-left: 15px;
}

.roomPreview_info > h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.roomPreview_picture {
}
.roomPreview_picture_image {
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  object-fit: cover;
}
