.swiper-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow: hidden;
}

.swiper-wrapper {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.swiper-slide {
}

.imgPlacement {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;

  opacity: var(--img-placeholder-opacity);
}

#div_video_player {
  position: absolute;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  top: 0px;
}

.video__player {
  object-fit: fill;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}
