.videoSidebar {
  position: absolute;
  bottom: 80px;
  right: 0.7rem;
  color: white;
  z-index: 500;
  -webkit-transform: translate3d(0, 0, 0);
}

.videoSidebar__button {
  padding: 15px;
  text-align: center;
}

.shareStatus {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  right: 0.4rem;
  position: absolute;
  width: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.sidebar_amazonlogolink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;

  min-height: 2.4rem;
  margin-top: 5px;

  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 4px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
}

.sidebar_amazonlogolink > p {
  text-transform: capitalize;
  font-weight: 500;
  width: 90%;
  font-size: 15px;
  color: white;
}

#simple-dialog-title > h2 {
  text-align: center;
}
