.SlidingEdit_Body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background-color: white;
}

.SlidingEdit_Header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 2.6rem;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  z-index: 100;
}

.SlidingEdit_Pannels_Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.SlidingEdit_Pannel {
  margin-top: 1rem;
  width: 91%;
  height: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.SlidingEdit_TypeAndIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SlidingEdit_TypeAndIcon > p {
  font-size: 14px;
}

.SlidingEdit_TypeLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4rem;
}

.SlidingEdit_TypeLeft {
  font-size: 14px;
}

.Draggable_Item {
  width: 80vw;
  border: 1px solid grey;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    to right,
    rgb(162, 162, 162) 0%,
    rgb(162, 162, 162) 6%,
    white 6%,
    white 100%
  );
}

.Draggable_Link_Item_Content {
  max-width: 6rem;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}

.Draggable_Link_Item_Content_2 {
  max-width: 9rem;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}

.Draggable_Icon_Wrap {
  position: absolute;
  left: 0;
  margin-left: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SlidingEdit_AddNewLink {
  width: 80vw;
  margin: 1rem;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--vosh-color-8);
  background-color: var(--vosh-color-8);
}

.SlidingEdit_AddOldLink {
  width: 80vw;
  margin: 1rem;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--vosh-color-7);
  background-color: var(--vosh-color-7);
}

.SlidingEdit_AddNewLinkDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SlidingEdit_AddNewLinkDetails > span {
  font-size: 14px;
}

.SlidingEdit_HashTagBody {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Tagging_Main {
  height: 90%;
}

.gallery_slider_header {
  min-height: 2.7rem;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.Tagging_Top_Main {
  height: 57vh;
  width: 100%;

  display: flex;
  flex-direction: row;

  background-color: rgb(245, 245, 245);
}
.Tagging_Top_Main_Left {
  height: 100%;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Tagging_Top_Main_Right {
  height: 100%;
  width: 45%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Tagging_Top_Main_Right_Tag_Body {
  height: 78%;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.Tagging_Top_Main_Left_Image_Body {
  height: 78%;
  width: 85%;

  position: relative;
}

.Tagging_Top_Main_Left_Image {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.Tagging_Choices {
  height: 3rem;
  width: 90%;
  margin-top: 2rem;
  font-size: 14px;
  background-color: white;

  border: 1px solid lightgrey;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Tagging_Choices_2_Wrapper {
  height: 3rem;
  width: 90%;
  margin-top: 2rem;
  font-size: 14px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Tagging_Choices_Left {
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-right: 2px;
}
.Tagging_Choices_Right {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: #c7c7c7;
  border-radius: 4px;
}

.gallery_slider_body_wrapper {
  overflow-y: scroll;
}

.gallery_slider_body {
  height: 95vh;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 5rem;

  background-color: rgb(249, 249, 249);
}

.gallery_image_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_tagging_video_box {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.volumeIcon {
  position: absolute;
  color: white;
  right: 0;
  padding: 10px;
}

.Link_Previous_Content_Box {
  border-radius: 9px;

  background-color: rgb(192, 192, 161);

  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;

  min-height: 2.2rem;
  width: 97%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
}

.product_linking_group_name {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
}

.SlidingEdit_Pannels_BackgroundImageWrapper {
  height: 10rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SlidingEdit_Pannels_BackgroundImageCircleAndWords {
  width: 45%;
  height: 90%;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-size: 12px;
}

.SlidingEdit_Pannels_Image_Circle_Wrapper {
  position: relative;
}

.SlidingEdit_Pannels_Image_Circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  object-fit: cover;
}

.bio_chars_and_save {
  height: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bio_chars_and_save > p {
  font-size: 14px;
  color: grey;
}

/* bigger than iphone 5 */
@media only screen and (min-height: 580px) {
  .gallery_slider_body {
    grid-auto-rows: 6.5rem;
  }

  .Tagging_Choices {
    font-size: 16px;
  }
}
