/* for editing */
.EditProProfile {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

.edit_pro_profile_top {
  height: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.edit_pro_profile_top_header {
  height: 7%;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit_pro_profile_top_image_name {
  min-height: 40%;
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edit_pro_profile_top_image {
  height: 80%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_pro_profile_edit_image {
  color: white;
}

.edit_pro_profile_edit_image_circle {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background-color: var(--vosh-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_pro_profile_edit_image_caption {
  color: white;
}
.edit_pro_profile_edit_image_circle_caption {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background-color: var(--vosh-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_pro_profile_top_name {
  height: 10%;
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.edit_pro_profile_top_statistics {
  height: 15%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.edit_pro_profile_bottom {
}

.edit_pro_profile_followers_flex_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.edit_pro_profile_followers_flex_box > p {
  font-size: 14px;
}

.edit_pro_profile_top_edit_button {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
}

.edit_pro_profile_top_edit_button > p {
  font-size: 15px;
  font-weight: bold;
}

/* for viewing */

.pro_profile_top {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pro_profile_top_with_left_right {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  padding-top: 1rem;
}

.pro_profile_top_photo_and_social {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pro_profile_top_social_medias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 93%;
}

.pro_profile_loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: flex;
}
.pro_profile_loading_word {
  position: absolute;
  margin-top: 7rem;
  font-size: 20px;
  font-weight: bold;
}

.pro_profile_top_header {
  height: 1.1rem;
  width: 100%;
}

.pro_profile_top_header > div {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProProfile {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  width: 100vw;

  overflow-y: scroll;

  /* background-position: center center;
  background-repeat: no-repeat; */

  z-index: 4000;
}

.pro_profile_feed {
  z-index: 2000;
}

.pro_profile_wrapper {
  height: 100%;
  width: 100%;
}

.pro_profile_top_image_name {
  height: 7rem;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pro_profile_top_image {
  height: 67%;
  width: 35%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pro_profile_top_name_social_cta {
  height: 90%;
  width: 65%;

  margin-top: 0.7rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pro_profile_top_name {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
}

.pro_profile_top_name > p {
  font-size: 16px;
  font-weight: 600;
  overflow-wrap: break-word;
}

.pro_profile_top_left {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pro_profile_top_right {
  width: 94%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pro_profile_top_image_circular {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.pro_profile_top_statistics {
  height: 10%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pro_profile_top_statistics_details {
  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pro_profile_top_follow {
  width: 100%;
  height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pro_profile_top_description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro_profile_top_profileBio {
  width: 90%;
  text-align: center;
  font-size: 16px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.pro_profile_top_profileBio > span {
}

.pro_profile_social_selector {
  min-height: 2.2rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  font-size: 14px;
  z-index: 2800;
}

.pro_profile_social_selector_line {
  width: 100%;
  min-height: 2.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pro_profile_top_selector {
  min-height: 2.5rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;

  font-size: 13px;

  z-index: 2800;
}

.pro_profile_shop_div {
  font-size: 20px;
  font-weight: 500;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pro_profile_top_linker {
  width: 95%;
  border-radius: 6px;
  margin: 1rem;
  padding-top: 3px;
  padding-bottom: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-y: scroll;

  background-repeat: repeat;
  background-position: center;

  /* Hide scrollbar for IE */
  -ms-overflow-style: 2px;
  scrollbar-width: 2px;

  /* -moz-box-shadow: inset 0 0 2px #303030;
  -webkit-box-shadow: inset 0 0 2px #303030;
  box-shadow: inset 0 0 2px #303030; */
}

.pro_profile_top_link_div {
  min-height: 3.2rem;
  width: 100%;
  background-color: var(--vosh-color-7);
  margin-top: 7px;

  opacity: 0.9;

  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
}

.pro_profile_top_link_div > h4 {
  margin: 5px;
  color: white;
  font-size: 15px;
}

.pro_profile_top_follow_button {
  height: 2.1rem;
  width: 5.5rem;
  border-radius: 3px;
  background-color: var(--vosh-color-6);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
}

.pro_profile_top_following_button {
  height: 2.1rem;
  width: 5.5rem;
  border-radius: 3px;
  background-color: var(--vosh-color-5);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
}

.pro_profile_icon_and_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 3.9rem;
  min-height: 2.5rem;
  position: relative;
  padding-bottom: 5px;
}

.pro_profile_icon_and_name_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1.2rem;
  border: 2px solid #f2f2f2;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border-radius: 4px;
  height: 1.4rem;

  white-space: nowrap;
}

.pro_profile_icon_and_name_underline {
  position: absolute;
  bottom: 0;
  width: 2rem;
  border-bottom: 3px solid lightgrey;
  border-radius: 10px;
}

.pro_profile_icon_and_name > p {
  font-size: 10px;
  font-weight: bold;
}

.pro_profile_bottom {
  width: 100%;

  background-repeat: repeat;
  background-position: center;
}

.pro_profile_arrow_and_desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.pro_profile_bottom_snackbar_temp {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3.5rem;
  width: 85%;
}

@media only screen and (min-width: 1100px) {
  .EditProProfile {
    height: 700px;
    width: 415px;
  }

  .ProProfile {
    height: 700px;
    width: 415px;
  }
}

#backgroundVideo {
  position: fixed;

  object-fit: cover;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}
#backgroundImage {
  position: fixed;

  object-fit: cover;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

/* iphone5 */
@media only screen and (max-height: 580px) {
  .pro_profile_top_selector {
    min-height: 2.4rem;
  }

  .pro_profile_top_profileBio {
    font-size: 13px;
  }

  .pro_profile_top_profileBio > span {
    font-size: 13px;
  }

  .pro_profile_top_link_div > p {
    font-size: 13px;
  }
  .pro_profile_icon_and_name > p {
    font-size: 8px;
  }

  .pro_profile_top_name > p {
    font-size: 13px;
  }

  .pro_profile_top_following_button {
    height: 1.7rem;
    width: 4.5rem;
    font-size: 13px;
  }

  .pro_profile_top_follow_button {
    height: 1.7rem;
    width: 4.5rem;
    font-size: 13px;
  }

  .pro_profile_top {
  }

  .pro_profile_top_link_div {
    min-height: 2.6rem;
  }

  .pro_profile_top_linker {
    margin: 1rem;
    margin-top: 1rem;
  }

  .edit_pro_profile_followers_flex_box > p {
    font-size: 13px;
  }

  .edit_pro_profile_top_edit_button {
  }

  .edit_pro_profile_top_edit_button > p {
    font-size: 14px;
  }
}
