.verifiedMain {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: white;
}

.userNamesWrapper {
  width: 100%;
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialNamesWrapper {
  width: 100%;
  min-height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialLogoTextFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.verifiedMessageWrapper {
  width: 100%;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verified_ManualWelcomeMessageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verified_WelcomeWord {
  font-family: Avenir Black, "Century Gothic", CenturyGothic, AppleGothic,
    sans-serif;
  font-size: 40px;
  color: black;
  width: 80%;
}
.verified_HeaderText {
  font-family: Poppins Regular, "Century Gothic", CenturyGothic, AppleGothic,
    sans-serif;
  font-size: 20px;
  color: black;
  width: 80%;
  font-weight: bold;
}
.verified_Header2Text {
  font-family: Poppins Regular, "Century Gothic", CenturyGothic, AppleGothic,
    sans-serif;
  font-size: 16px;
  color: black;
  width: 80%;
  font-weight: bold;
}
.verified_Header3Text {
  font-family: Poppins Regular, "Century Gothic", CenturyGothic, AppleGothic,
    sans-serif;
  font-size: 14px;
}
.verified_NormalText {
  font-family: Poppins Regular, "Century Gothic", CenturyGothic, AppleGothic,
    sans-serif;
  font-size: 16px;
  color: black;
  width: 80%;
}

.loginButtonWrapperLocal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verified_next {
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #3e4fae;
  font-weight: bold;
}

.verified_continue {
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;

  background-color: var(--vosh-color-10);
  color: white;
  height: 3rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-weight: bold;
}

/* iphone5 */
@media only screen and (max-height: 580px) {
  .verified_WelcomeWord {
    font-size: 30px;
  }
  .verified_WelcomeText {
    font-size: 16px;
  }
  .verified_ManualWelcomeMessageWrapper > img {
    display: none;
  }

  .verified_next {
    font-size: 16px;
    position: absolute;
    bottom: 13px;
    right: 13px;
    color: #3e4fae;
    font-weight: bold;
  }
}
