.HappySecond_LandingBody {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #fbe5cd;
}

.HappySecond_LandingBody2 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #fbe5cd;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.HappySecond_LandingBody3 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #fbe5cd;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-iteration-count: 5;

  font-family: butler bold, "Times New Roman", Times, serif, butler bold,
    Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 50px;
}

.HappySecond_flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
}

.HappySecond_Row2 {
  height: 35%;
  width: 90%;
  background-color: white;
  position: relative;
}

.CenterAbsoluteItems {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.CenterAbsoluteHearts {
  position: absolute;
  left: 0%;
  top: 0%;
}

.CenterAbsoluteItemsBottom {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.HappySecond_VideoPlayerLeft {
  object-fit: fill;
  height: 90% !important;
  width: 40% !important;
  position: absolute;
  left: 5%;
  top: 5%;
}
.HappySecond_VideoPlayerRight {
  object-fit: fill;
  height: 90% !important;
  width: 40% !important;
  position: absolute;

  right: 5%;
  top: 5%;
}
.HappySecond_VideoPlayerFillerLeft {
  height: 89% !important;
  width: 39% !important;
  border: 2px dotted black;
  position: absolute;
  left: 5%;
  top: 5%;
}

.HappySecond_VideoPlayerFillerRight {
  height: 89% !important;
  width: 39% !important;
  border: 2px dotted black;
  position: absolute;
  right: 5%;
  top: 5%;
}

.happysecond_icon_and_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
}
