/* for the images */
.profile_bottom_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile_bottom_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.profile_bottom_grid_history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.profile_bottom_grid_container {
  padding: 1px;
  text-align: center;
  height: 180px;
}

.profile_bottom_grid_video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile_bottom_imageOrVideoIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  opacity: 100;
}

.Video_Grid_redirect_button {
  font-style: italic;
  font-weight: 600;
  color: var(--vosh-color-7);
  font-size: 14px;
}

/* audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
} */
audio::-webkit-media-controls,
video::-webkit-media-controls {
  display: none;
}

@media only screen and (max-height: 580px) {
  .profile_bottom_grid_container {
    height: 150px;
  }
}
